<h1>todas as tasks</h1>

<ul class="task-list">
{{#each task}}
    <li>
        <a href="/" class="title"> {{this.title}}</a>
        <div class="actions">
        <a href="/"><i class="bi bi-check2"></i></a>
        <a href="/tasks/edit/:{{this.id}}"><i class="bi bi-pencil-square"></i></a>
        <a href="#"><i class="bi bi-x-lg"></i></a>
        <form action="/tasks/remove" method="post">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">apagar</button>
        
        </form>
        </div>
    </li>
{{/each}}

</ul>