@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
}
header> p {
    font-size: 1.5em;
    text-align: center;
    /* animation: loop 2s cubic-bezier(0.01, 0.92, 0.65, 0.1) 1 ; */
}
/* @keyframes loop {
    to{
        transform: rotateY(360deg );
         
    }

} */
.form-control{
    margin: 0 auto;
    max-width: 500px;

}.form-control .sex{

    font-style: italic;
    width: 200px;
}.cabeca{
    text-align: center;
}.cabeca > nav > ul >li{
    list-style-type: none;
}.atf{
    display: flex;
    flex-direction: row;
     padding: 5px;
}.lat{
    margin-right: 20px;
   
}