@charset "utf-8";
*{
   font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(173, 169, 168);
}
div.login-control  { 
    background-color: aliceblue;
    padding: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    
}div.login-control > h1 {
    font-size: 2em;
    font-variant: small-caps;
    text-align: center;

}div.db-control{
    display: flex;
    flex-direction: column;
    
    margin:0 auto;
    height: 50vh;
    width: 300px;
    background-color: aliceblue;
}
div.db-control > input{
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
}
div.btn-control > input{
    padding: 5px;
    margin-top:5px;
    border-radius: 10px;
}
div.btn-acoes > a{
    contain: 'ola';
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1em;
    width: 120px;
    padding: 5px;
    
}
