<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina main </title>
<style>
    *{
        margin: 0%;
        padding: 0%;
        align-items: center;
    

    }
    body{
        
    }
    menu{
        height: 50px;
        background-color: aqua;
    }
    main{
        display: block;
        text-align: center;
        height: 500px;
    }

    footer{
        height: 50px;
        background-color: aqua;
    }
</style>
</head>
<body>
    <menu>
        <nav> barra de navegaçao</nav>
    </menu>
    <main>{{{body}}}</main>

    <footer>rodapé</footer>
</body> 
</html>