<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>usando metodo "with"!!! </h1>
    <ul type="square">
        {{#with user }}
          <li> nome  {{name}}</li>
           <br>
           <li>ele é {{category}} </li><br>
           <li>e tem a funcao de {{funcoes.f2}}</li>
        {{/with}}
    </ol>

</body>
</html>