<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 
        primeiro arquivo feito sozinho usando method handlebars </h1>

        criado por <strong>{{user.name}} {{user.lastname}} </strong>aos {{user.age}} anos de idade   
</body>
</html>