
<header class="cabeca">
<nav>
    <ul>
        <li><a href="">oque é (tmb) ? </a></li>
        <li><a href="/user/dieta">monte sua dieta</a></li>
    </ul>
</nav>
</header>
<div class="form-control">
<form action="/user/test" method="post">

    <legend>preencha o formulario</legend>
    <div class="label dados ">
        <label for="peso">seu peso</label><br>
        <label for="altura">sua altura </label><br>
        <label for="idade">sua idade</label>
    </div>
    <div class="inp dados ">
        <input type="number" name="kg " id="peso" placeholder="peso em kg"><br>
        <input type="number" name="alt"id="altura" placeholder="altura em *cm"><br>
        <input type="number" name="age" id="idade" placeholder="idade com 2 digitos">
    </div>
        <label for="ativ">
            <h3>com qual frequencia pratica atividade fisica?</h3>
        </label>
        <div class="atf dados ">
        <div class="lat">
            alta<br>
            regular<br>
            baixa<br>
            ocioso
        </div>
        <div class="iat">
            <input type="radio" name="ativ" id="intal" checked> 1 (hora), até 6 vezes na semana <br>
            <input type="radio" name="ativ" id="intmed"> 1 (hora), até 4 vezes na semana <br>
            <input type="radio" name="ativ" id="intbai"> 1 (hora) até 2 vezes na semana
            <br>
            <input type="radio" name="ativ" id="nenhum"> não pratico atividade fisica:
        </div>
    </div>
    
    <div class="sex">
        <fieldset>
            <legend>genero</legend>
            <label for="sexo"></label>
            <br>
            fem <input type="radio" name="sexo" id="fem" checked>
            masc<input type="radio" name="sexo" id="masc">
        </fieldset>
    </div>

    <input type="button" value="ver resultado" id="botao">
    <p class="res"></p>

</form>


    <h2> curiosidade</h2>
    <article>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, suscipit dolor. Reprehenderit
            ullam, dicta temporibus, perferendis facilis placeat, dolorum illum assumenda ut blanditiis
            doloribus! Ullam consequatur illo expedita possimus eum.
        </p>
    </article>

</div>


