
<div class="login-control">
    <h1>faça login</h1>
    <form action="/user/acess/{{user.id}}" method="post">
        <div class="db-control">
        <input type="hidden" name="id" value="{{user.id}}">
        <label for="email">email:</label>
        <input type="text" name="email" placeholder="digite seu email">
        <label for="pass">senha</label>
        <input type="password" name="pass" placeholder="digite sua senha ">
            <div class="btn-control">
                <input type="submit" value="entrar">
            </div>
        </div>
    </form>
    <div class="btn-acoes">
        <a href="/#">cadastrar-se</a>
        <a href="/#">esqueci a senha </a>
    </div>  
    
</div>
