<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav id="navbar">
        <h2>node Todo</h2>
        <ul>
            <li><a href="#">ver todos </a></li>
            <li><a href="#">tasks</a></li>
            <li><a href="#">show</a> </li>
        </ul>
    </nav>
    <div class="container">{{{body}}}</div>
</body>

</html>