<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio do banco de dados </title>
</head>
<body>
    <h1>meu primeiero banco de dados com node </h1>
    <h2>preencha o formulario abaixo  e veja a magica</h2>
    <form class="form" action="/book/insertbooks" method="POST">
    <div class="form-control">
        <label for="title"> titulo:</label>
        <input type="text" name="title" placeholder="digite o nome do livro">
    </div>
    <div class="form-control">
        <label for="pagesqt">quantidades de paginas </label>
        <input type="number" name="pagesqt" placeholder="digite o nome do livro">

        <input type="submit" value="cadastrar">
    </div> 
    
    </form>
</body>
</html>