<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    
    <link rel="stylesheet" href="css/home.css">
    <style>
        div{
            
            text-align: center;
            height: 300px;
            padding-top:50px ;
        }
    </style>
</head>
<body>
    <div>
    <h2>bem vindo a nossa loja !!!</h2>
    
    <p>
    acesse nosso menu e escolha entre milhares de produtos ... &#x1F917;
    </p>
    </div>
</body>
</html>