<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>home express !! </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam adipisci quaerat explicabo, dolores, aspernatur rerum quis deleniti a non repellat atque voluptates dicta vitae tenetur debitis distinctio asperiores alias rem.</p>
    <a href="/users/add">add usuario</a>
</body> 
</html>