<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario </title>
</head>
<body>
    <h1>cadastro de usuario</h1>

    <form action="/users/save" method="post">
        <input name="nome" type="text" placeholder="nome">
        <input type="text" name="age" placeholder="idade">
        <input type="submit" value="cadastrar">
    </form>
</body>
</html>